@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Light gray background outside the CV */
  margin: 0;
}

body, #app{
  min-height: 95vh;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #222;
  line-height: 26.25px
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}